## Задания с прошлого семинара

In [ ]:
import numpy as np

1. Создайте массив с числами от 1 до 20

In [ ]:
a = np.arange(1, 21) # Your code goes here

In [ ]:
assert np.all(a == np.array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]))

2. Разверните массив так, чтобы его элементы шли в обратном порядке

In [ ]:
a = a[::-1] # Your code goes here

In [ ]:
assert np.all(a == np.array([20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10,  9,  8,  7,  6,  5,  4, 3,  2,  1]))

3. Найти максимальный нечетный элемент в массиве

In [ ]:
max_odd = a[a % 2 != 0].max()# Your code goes here

In [ ]:
assert max_odd == 19

4. Замените все нечетные элементы массива на ваше любимое число

In [ ]:
fav_num = 42 # Ваше любимое число
a[a % 2 != 0] = fav_num # Your code goes here

In [ ]:
assert np.all(a == np.array([20, fav_num, 18, fav_num, 16, fav_num, 14, fav_num, 12, fav_num, 10, fav_num,  8, 
                          fav_num,  6, fav_num,  4, fav_num,  2, fav_num]))

5. Напишите функцию, которая по аргументу n выдает массив из первых n нечетных чисел, записанных в обратном порядке. Например, если $n=5$, то ответом будет `array([9, 7, 5, 3, 1])`. Функции, которые могут пригодиться при решении: `np.arange()`

In [ ]:
def rev_n_odd(n): 
    # Your code goes here
    
    return np.arange(1, 2*n, 2)[::-1]

In [ ]:
assert rev_n_odd(0).shape == (0,)
assert rev_n_odd(1) == np.array([1])
assert np.all(rev_n_odd(10) == np.array([19, 17, 15, 13, 11,  9,  7,  5,  3,  1]))

6. Напишите функцию, которая вычисляет самое близкое и самое дальнее числа к данному в рассматриваемом массиве чисел. Например, если на вход поступают массив `array([0, 1, 2, 3, 4])` и число $1.33$, то ответом будет `(1, 4)`. Функции, которые могут пригодиться при решении: `np.abs(), np.argmax(), np.argmin()`

In [ ]:
def func(arr, x):
    # Your code goes here
    diff = np.abs(arr - x)
    
    farest = arr[diff.argmax()]
    closest = arr[diff.argmin()]
    
    return closest, farest

In [ ]:
assert func(np.arange(5), 1.33) == (1, 4)
assert func(np.ones(5), 7) == (1., 1.)
assert func(np.array([5, 1, 6, 123, -1e-5, 1e-4]), 0) == (-1e-05, 123.0)

7. Напишите функцию, вычисляющую первообразную заданного полинома (в качестве константы возьмите 0). Например, если на вход поступает массив коэффициентов `array([4, 6, 0, 1])`, что соответствует полиному $4x^3 + 6x^2 + 1$, на выходе получается массив коэффициентов `array([1, 2, 0, 1, 0])`, соответствующий полиному $x^4 + 2x^3 + x$. Функции, которые могут пригодиться при решении: `.append()`.

Если вдруг кто-то забыл, что такое [первообразная](https://ru.wikipedia.org/wiki/%D0%9F%D0%B5%D1%80%D0%B2%D0%BE%D0%BE%D0%B1%D1%80%D0%B0%D0%B7%D0%BD%D0%B0%D1%8F).

In [ ]:
def antiderivative(coeffs):
    # Your code goes here
    new_coeffs = np.arange(coeffs.shape[0], 0, -1)
    return np.append(coeffs / new_coeffs, 0)

In [ ]:
assert np.all(antiderivative(np.array([4, 6, 0, 1])) == np.array([1., 2., 0., 1., 0.]))
assert np.all(antiderivative(np.array([10.])) == np.array([10.,  0.]))
assert np.all(antiderivative(np.array([10., 0, 0, 0, 0])) == np.array([2., 0., 0., 0., 0., 0.]))

In [ ]:
print("Well done!")

## Pandas

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [ ]:
df = pd.DataFrame([[1, 2, 3], [3, 4, 5]])
df

In [ ]:
df.T

In [ ]:
df.values

In [ ]:
content = np.random.random((5, 4))
content

In [ ]:
df = pd.DataFrame(content, columns=['A', 'B', 'C', 'D'], index=['a', 'b', 'c', 'd', 'e'])
df

In [ ]:
df.values

In [ ]:
df.mean(axis=1)

In [ ]:
df.mean(axis=0)

In [ ]:
df.median(axis=1)

In [ ]:
df.max(axis=1)

In [ ]:
df_dict = {'a':[1, 2, 3, 4], 'b':[3, 7, 6, 8], 'c':[12, 123, 1234, 9]}
df_dict

In [ ]:
df = pd.DataFrame.from_dict(df_dict, 'columns')
df

In [ ]:
df = pd.DataFrame.from_dict(df_dict, 'index')
df

## Теперь давайте посмотрим на какой-нибудь реальный датасет

**Pandas** (Python Data Analysis Library) — библиотека языка Python для [удобных] обработки и анализа данных.


Рассмотрим данную библиотеку на примере [данных](https://www.kaggle.com/c/titanic/data) [соревнования](https://www.kaggle.com/c/titanic) о предсказании судьбы пассажиров лайнера "Титаник". Имеется некоторая информация о пассажирах, по которой необходимо предсказать выживаемость каждого из них.
* Какого типа данная задача?
* Что является объектами?
* Что является ответами?
* Какие могут быть признаки? Какие у них типы?

Загрузка данных в **pandas** происходит в специальный объект типа **DataFrame**:

In [ ]:
pass_data = pd.read_csv('titanic.csv')
pass_data

In [ ]:
pass_data.describe()

In [ ]:
pass_data.info()

Как видно, данные представляют из себя таблицу, где строка — объект, столбец — признак. Для экономии места можно выводить заданное количество первых строк объекта при помощи метода head():

In [ ]:
pass_data.head(3)

Посмотрим на признаки:

In [ ]:
pass_data.columns

In [ ]:
pass_data[2:5]

In [ ]:
pass_data.iloc[3]

In [ ]:
pass_data.iloc[1:5, 1:3]

In [ ]:
pass_data['Name'].head()

In [ ]:
pass_data[['Name', 'Sex', 'Pclass']].head()

Также действует и логическая индексация, которая позволяет рассматривать определенные группы объектов:

In [ ]:
pass_data[pass_data['Sex'] == 'female'].head() # женщины на борту

In [ ]:
# женщины старше 60 и мужчины на борту
pass_data[(pass_data['Sex'] == 'female') & (pass_data['Age'] >= 60) | (pass_data['Sex'] == 'male')].head()

#### Пример
Посмотрим, сколько на борту было относительно молодых женщин, путешествующих в одиночку. Скорее всего, довольно мало, потому что в такое длительное путешествие молодых девушек одних не отпустили бы опекающие родственники.

In [ ]:
pass_data[(pass_data.Sex == 'female') & 
          (pass_data.Age > 18) & 
          (pass_data.Age < 25) & 
          (pass_data.SibSp == 0) &
          (pass_data.Parch == 0)].shape

Кроме того, для заданного признака можно построить гистограмму:

In [ ]:
pass_data.Age.hist(bins = 30);

## Редактирование DataFrame

* Переименование признаков

In [ ]:
pass_data.rename(columns={'Sex': 'sex'}, inplace=True)
pass_data.head()

* Применение преобразования к существующему признаку. Например, выделим фамилию:

In [ ]:
def get_last_name(name):
    return name.split(',')[0].strip()

last_names = pass_data['Name'].apply(get_last_name)
last_names.head()

* Добавление признака

In [ ]:
pass_data['Last_name'] = last_names
pass_data.head()

* Удаление признака

In [ ]:
pass_data.drop('Last_name', axis=1, inplace=True)
pass_data.head()

* Работа с пропущенными данными

Методы isnull() и notnull() позволяют получить бинарный массив, отражающий отсутствие или наличие данных для каждого из объектов соответственно:

In [ ]:
pass_data['Cabin'].isnull().head()

In [ ]:
pass_data[pass_data['Cabin'].notnull()].head()

* Сортировка объектов/признаков

In [ ]:
pass_data.sort_values(by=['Pclass', 'Fare'], ascending=True).head()

In [ ]:
pass_data.sort_values(by=['Pclass', 'Fare'], ascending=[True, False]).head()

## Группировка данных

Группировка при помощи метода groupby позволяет объединять данные в группы по одному или нескольким признакам и считать по ним общую статистику.

In [ ]:
pass_data.groupby('sex') # разбиение всех объектов на 2 группы по полу

In [ ]:
pass_data.groupby('sex')['Pclass'].value_counts()

In [ ]:
pass_data.groupby('Pclass')['Fare'].describe()

In [ ]:
pass_data.groupby('sex')['Age'].mean() # средний возраст для пассажиров каждого из полов

Как известно, в первую очередь спасали женщин и детей в порядке повышения номера класса, в связи с этим доля выживших женщин, вероятно, будет выше, чем доля выживших мужчин. Проверим:

In [ ]:
pass_data.groupby('sex')['Survived'].mean()

Аналогично для пассажиров различных классов:

In [ ]:
pass_data.groupby('Pclass')['Survived'].mean()

Рассмотренные выше статистические данные могут быть рассмотрены и в виде стандартного DataFrame:

In [ ]:
pass_data.groupby('sex', as_index=False)['Survived'].mean()

## Сохранение данных

Также данные можно сохранить в файл:

In [ ]:
pass_data.to_csv('titanic_2.csv', index=False)

## Соединение таблиц

In [ ]:
double_df = pd.DataFrame(np.array([[1, 2, 3, 4], [2, 4, 6, 8]]).T, columns=['x', '2*x'])
double_df

In [ ]:
square_df = pd.DataFrame(np.array([[2, 3, 4, 5], [4, 9, 16, 25]]).T, columns=['x', 'x^2'])
square_df

In [ ]:
double_df.merge(square_df.set_index('x'), on='x', how='left')

##### Если хочется больше разобраться в этой теме -- почитайте как именно работает left, right, inner и outer join в принципе для таблиц

## Задания

1. Получите таблицу с пассажирами с четными значениями для "PassengerId".

In [ ]:
# Your code goes here

2. Сколько мужчин, а сколько женщин в выборке?

In [ ]:
# Your code goes here

3. Постройте 2 гистограммы по возрасту -- для мужчин, путешествовавших первым классом и третьим.

In [ ]:
# Your code goes here

4. Кажется (и это звучит логично), что в первом классе ездили более возрастные люди. Насколько в среднем пассажир первого класса старше, чем пассажир третьего?

In [ ]:
# Your code goes here

5. Каков cредний возраст мужчин и женщин каждого класса?

In [ ]:
# Your code goes here

6. В таблице `prices` у вас есть модели телевизоров с ценами, а в таблице `brands` соответствие моделей и брендов. Какая средняя цена телевизоров для каждого бренда?

In [ ]:
prices = pd.DataFrame([['s1055', 62500], ['s2065', 83700], ['s2055', 67900], \
                     ['lg12355', 57800],['lg12365', 79400],['ss465', 74300], \
                     ['ss455', 69000],['ss375', 77600],['ss365', 70300], \
                     ['ss345', 54500]], columns=['model_name', 'price'])

brands = pd.DataFrame([['sony', 's1055'], ['sony', 's2065'], ['sony', 's2055'], \
                     ['lg', 'lg12355'],['lg', 'lg12365'],['samsung', 'ss465'], \
                     ['samsung', 'ss455'],['samsung', 'ss375'],['samsung', 'ss365'], \
                     ['samsung', 'ss345']], columns=['brand name', 'model_name'])

In [ ]:
prices

In [ ]:
brands

In [ ]:
# Your code goes here